<!DOCTYPE html>
<html>
<head>
    <title><%= @article_title %></title>
    <link rel="stylesheet" type="text/css" href="/bootsrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/article.css">
</head>
<body>
    <div class="article">
        <div class="article-title"><%= @article_title %></div>
        <div class="article-content"><%= @article_content %></div>
    </div>
</body>
</html>
