<!DOCTYPE html>
<html>
<head>
    <title><%= @article_title %></title>
    <link rel="stylesheet" type="text/css" href="/bootsrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/article.css">
</head>
<body>
    <div class="row">
        <div class="article">
            <div class="col-md-12 article-title"><%= @article_title %></div>
            <div class="col-md-12 article-content"><%= @article_content %></div>
        </div>
    </div>
</body>
</html>
