<!DOCTYPE html>
<html>
<head>
    <title> Index </title>
    <link rel="stylesheet" type="text/css" href="/bootsrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
    <div class="articles">
        <%= @content %>
    </div>
</body>
</html>
