<!DOCTYPE html>
<html>
<head>
    <title> Index </title>
    <link rel="stylesheet" type="text/css" href="/bootsrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
    <div class="row">
        <div class="col-md-12 menu"> <%= @menu %> </div>
    </div>
    <div class="row">
        <div class="col-md-12 articles">
            <%= @content %>
        </div>
    </div>
</body>
</html>
